* {
font-family: sans-serif;
}

.container {
	width: 100%;
	
} 


/* debut : forme du menu en haut à droite*/
.menu {
	width: 100%;
	
} 


.menu ul{
	list-style: none;
	float:right;
}

.menu ul li{
	display: inline-block;
	float:left;
}

.menu ul li a{
	margin-right: 10px;	
	display: block;
	padding: 0px 6px;
	text-decoration:none;
	color:black;
	font-size:13px;
}

.bouton_connexion{
    	padding: 1px 4px;
	background-color: cornflowerblue;
	border-radius:3px;
	color:white;
}
/* fin: forme du menu e haut à droite*/

/* debut: position du logo Google*/
#master {
    	margin:0px auto;

}

#logo {
    	margin: auto;
	padding-top: 190px;
    	width:50%;
}

#image_logo_google {
    	margin: 20px;
	display: flex;
	justify-content: center;
}
/* fin: position du logo Google*/

/* debut: forme de la barre de recherche*/
#searchbar{
    position:relative;
    width:1040px;
	left:52px;
    height:auto;
    display:inline-block;
}
#searchbar .text{
    width:300px;
    float:left;
}
#searchbar .champ{
    width:600px;
    height:35px;
    float:left;
}

#searchbar .bouton{
    background-image: url(images/searchbar_button.png);
    width: 35px;
    height: 35px;
    padding: 0;
    border:none;
    float:left;
}
/* fin: forme de la barre de recherche*/

/* debut: forme boutons sous barre de recherche*/
.bouton_sous_searchbar{
	width=100%;
	display:flex;
	justify-content: center;
}

input[type=button]{
	background-color:#f0f0f0;
	padding: 8px 20px;
	margin-right:10px;
	border: none;
	border-radius: 3px;
	position:relative; 
	top:10px;
}
/* fin: forme boutons sous barre de recherche*/

/* debut: forme pied de page*/
footer {
	position:fixed;
	bottom: 10px;
	left:0px;
	width: 100%;
	background-color: #f9f9f9;
		
}

.liens_footer {
	background-color: #f0f0f0;
	border-top:1px solid #e4e4e4;
	
}

.liens_footer ul{
	list-style: none;    	

}

.liens_footer ul li{
	display: inline-block;
	float:left;
}

#droite {
	
	float:right;
}

.liens_footer ul li a{
	display: block;
	padding-right: 35px;
	text-decoration:none;
	font-size:14px;
	color: grey;
}

hr {
	opacity: 0.2;
}

p {
	margin-left: 30px;
	color: grey;
}

/* fin: forme pied de page*/


